<!DOCTYPE html>
<html>
<head>
	<title>	Hacker-News </title>
	<% include head %>
</head>
<body>  
  <% include navbar %>
 <p><center><h1>Please login first for submiting a <%= label %>...</h1></center></p>
  </body>
</html>
