<!DOCTYPE html>
<html>

<head>
  <title> Post Subbmission | Hacker-News </title>
  <% include head %>
</head>

<body>
  <% include navbar %>
  <div class="commentbox_container">
    <div class="box">
      <h2>Submit a POST</h2>
      <form action="/submit/createPost" method="post">
        <div class="inputBox">
          <input type="text" name="title" required="" />
          <label>Post Title </label>
        </div>
        <div class="inputBox">
          <input type="text" name="URL" required="" />
          <label>Post URL</label>
        </div>
        <p id="t1">Or,</p>
        <div class="inputBox">
          <input type="text" name="body" id="post_body"/>
          <label>Post Body </label>
        </div>
        <input type="submit" value="Post" />
      </form>
    </div>
  </div>
</body>

</html>