<!DOCTYPE html>
<html>
<head>
	<title>	Hacker-News </title>
	<% include head %>
</head>
<body>  
  <% include navbar %>
  <img src="/images/uc.png" alt="Work in progress Pic" width="100%" height="640">
  </body>
</html>
