body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  background: linear-gradient(270deg, #ed174c, #d269a9, #0076c0, #00b6b9, #72c057, #ffe355, #ed174c);
  background-size: 2000% 2000%; 
  -webkit-animation: moveGradient 30s ease infinite;
  -moz-animation: moveGradient 30s ease infinite;
  -o-animation: moveGradient 30s ease infinite;
  animation: moveGradient 30s ease infinite;
}
@keyframes moveGradient { 
  0%{background-position:100% 0%}
  50%{background-position:0% 100%}
  100%{background-position:100% 0%}
}
@-webkit-keyframes moveGradient {
  0%{background-position:100% 0%}
  50%{background-position:0% 100%}
  100%{background-position:100% 0%}
}
@-moz-keyframes moveGradient {
  0%{background-position:100% 0%}
  50%{background-position:0% 100%}
  100%{background-position:100% 0%}
}
@-o-keyframes moveGradient {
  0%{background-position:100% 0%}
  50%{background-position:0% 100%}
  100%{background-position:100% 0%}
}
.logo {
  width: 55px;
  height: 50px;
  margin-right: 8px;
  margin-top: -5px;
}
#copyRight{
  margin: 0;
  margin-top: -8px;
  padding: 0;
  font-size: x-small;
}
.navbar-right{
  margin-right: 10px;
}

.poster img{
  width: 90%;
  text-align: center;
  margin: 10px 5% 10px;
}

#search-form input{
  margin: 8px 0px;
  padding: 5px;
}

.form-group select{
  min-width: 150px;
}

.single-movie-title, .overview-header{
  font-family: 'Metamorphous', cursive;
}

.overview-header{
  font-size: 20px;
  font-weight: bold;
}

.single-movie-overview{
  font-family: 'Swanky and Moo Moo', cursive;
  font-size: 24px;
  font-weight: normal;
}

.Container{
  margin: 10px;
  width: 98%;
  background-color: rgb(221, 252, 225);
  color: rgb(14, 0, 212);
  border-radius: 10px;
}
ol li:hover{
  background-color: rgb(182, 212, 186);
  border-radius: 5px;
}
.list{
  margin: 3px;
  list-style-type: Decimal-leading-zero;
}
#list_footer{
  margin-left: 20px;
}

a:link, a:visited {
  color: rgb(0, 0, 0);
  font-size: larger;
  padding: 8px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  color: rgb(190, 49, 49);
  font-weight:bold;
}

.all_comments{
  display: inline-flex;
  
}
.all_comments ul li{
  padding-left: 10px;
  margin: 5px;
  color: black;
  font-size: medium;
}

.all_comments ul li:hover{
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  font-size: larger;
}
.box{
  position: absolute;
  top: 20vh;
  left: 45vh;
  transition: translate(-50%,-50%);
  width: 800px;
  padding: 50px;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.box h2 {
margin: 0;
padding: 0;
color: #fff;
text-align: center;
}

.box .inputBox{
  position: relative;
}
.box .inputBox input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}


.box .inputBox label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label
{
top: -18px;
left: 0;
color: #03a9f4;
font-size: 15px;
}
.box input[type="submit"]
{
  width: auto;
  font-size: x-large;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  background: #07031a;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}
.box input .cvSubmit[type="submit"]
{
  color: #ed174c;
}
#t1{
  font-size: large;
  color: #fff;
}
#post_body{
  text-align: left;
  padding-top: 10px;
  padding-bottom:40px;
}

.comment_list{
display: flex;
color: azure;
font-size: larger;
}

#cv1{
  margin: 0;
  padding: 0;
  font-size: large;
}
#cv2{
  padding-left: 2em;
  font-size: medium;
  color: aliceblue;
}
@media screen and (max-width: 769px) {
  .box {
    margin: 10px;
    top: auto;
    left: auto;
    height: auto;
    width: auto;
  }
}

#delete{
  margin: 0;
  margin-top: 5px;
  background-color: rgba(75, 214, 82, 0.5);
  border-radius: 5px;
}