<!DOCTYPE html>
<html>

<head>
  <title> Comments | Hacker-News </title>
  <% include head %>
</head>

<body>
  <% include navbar %>
  <p>
  <form action="/createComment/123456" method="post">
    <p>
      <input type="text" placeholder="PLease enter your comment" name="comment" />
    </p>
    <p>
      <input type="submit" class="btn btn-primary" />
    </p>
  </form>
  </p>
</body>

</html>