<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/"><img src="/images/logo.png" width="30" height="30" class="d-inline-block align-top"
      alt="" loading="lazy">
    The New Hacker-News</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">New <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/past">Past</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/comment">Comment</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/ask">Ask</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/job">Job</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/submit">Submit</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if (userDisplayName !== "undefined") { %>
      <div class="navbar-brand"> Welcome , <%= userDisplayName %></div>
      <%} %>

      <li><% if (userDisplayName === "undefined") { %>
        <a class="navbar-brand" href="/login">Login</a>
        <% } else { %>
        <a class="navbar-brand" href="/logout">Logout</a>
        <% } %>
      </li>
    </ul>
  </div>
</nav>