<!DOCTYPE html>
<html>

<head>
  <title> Post Subbmission | Hacker-News </title>
  <% include head %>
</head>

<body>
  <% include navbar %>
  <div class="submit_form">
    <form action="/submit/createPost" method="post">
      <p> Title : 
        <input type="text" placeholder="Please enter some title" name="title" />
      </p>
      <p> URL : 
        <input type="text" placeholder="Please enter ref URL" name="URL" />
      </p>
      <p>Or,</p>
      <p> Test : 
        <input type="text" placeholder="Please enter some Text" name="body" id="submit_text" />
      </p>
      <p>
        <input type="submit" class="btn btn-primary"  value="Post"/>
      </p>
    </form>
  </div>
</body>

</html>